body{
    text-align: center;
    font-family: arial ;
<<<<<<< HEAD
    color: rgb(4, 18, 31);
=======
    color: blue;
>>>>>>> cabecera
    background-color: black;
}

#container{
    border: 1px solid white;
    background-color: teal;
    width: 70%;
    margin: 0;
    margin-left: 243px;
}

#cabecera h4{
    margin-top: 0;
    text-align: left;
}