body{
    text-align: center;
    font-family: courier ;
    color: aliceblue;
    background-color: black;
}

#container{
    border: 1px solid white;
    background-color: teal;
    width: 70%;
    margin: 0;
}